/**
	by yushenxin
	email: yushenxin@foxmail.com
*/

@font-face{
	font-family: BickhamScriptPro;
	src: url(../fonts/BickhamScriptPro-Regular.otf);
}
@font-face{
	font-family: opensans;
	src: url(../fonts/opensans.ttf);
}
/**
	html和body设置
*/
html,body{
	font-size: 16px;/*chrome最小字体为12px*/
	background-color: white;	
}

/**
	header部分
*/
header{
	display: flex;
	flex-direction: column;
	height: calc(100vh - 3*2.5em);
	position: relative;
}
header::after{/*底部渐变遮罩*/
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3em;
	background: linear-gradient(transparent,white);
}
/*标题设置*/
h1,nav{
	display: flex;
	align-items: center;
	justify-content: center;
}
h1{
	flex: 1;
	padding: .5em;
	font: 1000% BickhamScriptPro, opensans, sans-serif;
	color: #58a;
	text-align: center;
	line-height: 1;
	word-spacing: .3em;
	text-indent: .3em;/*由于视觉差 需要右移一点*/
	user-select: none;
	transform: translateY(.3em);
}
/*导航栏设置*/
nav{
	font: 150% opensans, Arial, sans-serif;
	min-height: 30vh;
}
nav ul{
	padding: 0;
}
nav li{
	display: inline-block;
	list-style: none;
	margin-right: 17vw;
}
nav li:last-child{
	margin-right: 0;
}
nav li a{
	color: #515151;
	text-decoration: none;
}
nav li a:hover{
	color: #58a;
}
/*emails设置*/
nav li a#nav-email{
	position: relative;
}
nav li a#nav-email::before{
	content: "yushenxin@foxmail.com";
	position: absolute;
	top: -2em;
	font-size: .6em;
	color: #515151;
	width: 0;
	overflow: hidden;
	transition: width 1s;
	border-bottom: 1px solid #787878;
	padding-bottom: .05em;
	cursor: auto;
}
nav li a#nav-email:hover::before{
	width: 20ch;
}


/*main部分设置*/
main{
	counter-reset: section;/*设置计数器*/
}
section{
	height: 100vh;
	position: relative;
	counter-increment: section;/*计数器增加*/
}
section:nth-child(2n+1){
	background: #58a;
}
section::before{
	content:"part " counter(section);
	font: 300% BickhamScriptPro, opensans, sans-serif;
	display: block; 
	margin: auto;
	width: 5em;
	height: 2.5em;
	text-align: center;
	text-indent: .3em;
	line-height: 1.5;
	color: #58a;
	/*用一个px隔离区消除毛刺*/
	background: linear-gradient(to top right, transparent 50%,
					transparent calc(50% + 1px), white 0),
				linear-gradient(to top left, transparent 50%,
					transparent calc(50% + 1px), white 0);
	background-size: 50% 100%;
	background-position: top left, top right;
	background-repeat: no-repeat;
}
section:nth-child(2n+2)::before{
	color: white;
	background-image: linear-gradient(to top right, transparent 50%, 
						transparent calc(50% + 1px), #58a 0),
					  linear-gradient(to top left, transparent 50%,
						transparent calc(50% + 1px), #58a 0);
}

/*媒体查询*/
@media screen and (max-width:700px){ 
	h1{
		font-size: 800%;
		margin:1.5em 0;
	}
	nav{
		font-size: 100%;
		min-height: 23vh;
		align-items:flex-start;
	}
	section::before{
		font-size: 200%;
	}
	header{
		height: calc(100vh - 2*2.5em);
	}
}
@media screen and (max-width:530px){
	nav li:last-child{
		display: none;
	}
	nav li:nth-last-child(2){
		margin-right: 0;
	}
}
@media screen and (max-width:440px){ 
	h1{
		font-size: 600%;
	}
	nav{
		font-size: 80%;
		min-height: 30vh;
	}
}
