@font-face{
	font-family: BickhamScriptPro;
	src: url(../fonts/BickhamScriptPro-Regular.otf);
}
@font-face{
	font-family: opensans;
	src: url(../fonts/opensans.ttf);
}
/**
	html和body设置
*/
html,body{
	font-size: 16px;/*chrome最小字体为12px*/
	background-color: #f6f6f6;	
}

/**
	header部分
*/
header{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
header h1{
	padding: .5em;
	font: 800% BickhamScriptPro, opensans, sans-serif;
	color: #58a;
	text-align: center;
	word-spacing: .3em;
	text-indent: .3em;
	user-select: none;
}
nav{
	display: flex;
	font: 150% opensans, Arial, sans-serif;
	flex: 1;
	align-items: center;
	justify-content: center;
}
nav ul{
	padding: 0;
}
nav li{
	display: inline-block;
	list-style: none;
	margin-right: 22rem;
}
nav li:last-child{
	margin-right: 0;
}
nav li a{
	color: #515151;
	text-decoration: none;
}
nav li a:hover{
	color: #58a;
}
/*emails设置*/
nav li a#nav-email{
	position: relative;
}
nav li a#nav-email::before{
	content: "yushenxin@foxmail.com";
	position: absolute;
	top: -2em;
	font-size: .6em;
	color: #515151;
	width: 0;
	overflow: hidden;
	transition: width 1s;
	border-bottom: 1px solid #787878;
	padding-bottom: .05em;
	cursor: auto;
}
nav li a#nav-email:hover::before{
	width: 20ch;
}

/*main部分（designs）设置*/
main section{
	height: 100vh;
	position: relative;
}
main section:nth-child(2n+1){
	/* background:  url(../images/sectionBg1.jpg); */
	background: #58a;
}
main section::before{
	content: "part 1";/*生成的编号*/
	font: 300% BickhamScriptPro, opensans, sans-serif;
	position: absolute;
	top: 0; left: 50%;
	transform: translateX(-50%);
	width: 5em;
	height: 2.5em;
	text-align: center;
	line-height: 1.5;
}
main section:nth-child(2n+1)::before{
	color: #58a;
	background: linear-gradient(to top right, transparent 50%, #f6f6f6 0),
				linear-gradient(to top left, transparent 50%, #f6f6f6 0);
	background-size: 50% 100%;
	background-position: top left, top right;
	background-repeat: no-repeat;
}
main section:nth-child(2n+2)::before{
	color: #f6f6f6;
	background: linear-gradient(to top right, transparent 50%, #58a 0),
				linear-gradient(to top left, transparent 50%, #58a 0);
	background-size: 50% 100%;
	background-position: top left, top right;
	background-repeat: no-repeat;
}